nav{
    margin: 0;
}
.navbar{
    display: flex;
    margin: 0;
    justify-content: space-between;
    background-color: peru;
}
#logo{
    padding:80px 100px;
    text-decoration: none;
    color: white;
    font-size: 30px;
}
.navbar ul li{
    display: inline-block;
    padding:80px 20px;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
    font-size: 25px;
}
body{
    margin: 0;
    background-color:sienna;
}
.contact h2{
    padding: 20px 200px;
    font-size: 30px;
    color: white;
}
.contact ul{
    display: flex;
    justify-content: left;
}
.contact ul li{
    display: block;
    text-decoration: none;
    padding:20px 160px;
    color: white;
}
form{
    text-align: center;
    box-sizing: border-box;
}
.form-control{
    text-align: left;
    margin-bottom: 25px;
}
.form-control select{
    color: black;
    border: 1px solid #777;
    border-radius: 2px;
    font-family: inherit;
    padding: 10px;
    display: block;
    width: 95%;
}

.form-control input,
.form-control textarea {
    border: 1px solid #777;
    border-radius: 2px;
    font-family: inherit;
    padding: 10px;
    display: block;
    width: 95%;
    color: black;
}
.form-control label {
    display: block;
    color: white;
    margin-bottom: 10px;
}
textarea{
    display: flex;
    justify-content: left;
}
.form{
    max-width: 500px;
    margin: 50px auto;
    padding: 30px 20px;}
#city{
    width: 460px;
}
button{

    display: flex;
    justify-content: center;
    border: #777;
    border-radius: 15px;
    display:block;
    width: 100%;
    height: 40px;
    margin-top: 50px;
    margin-bottom: 20px;
}
#tel-logo{
    padding-left: 30px;
}
#mail-logo{
    padding-left: 60px;
}
button:hover{
    background-color:rgb(223, 134, 74);
}